<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <mat-form-field appearance="fill">
    <mat-label>Usuario</mat-label>
    <input matInput formControlName="username" />
    <mat-error *ngIf="loginForm.controls['username'].invalid">Usuario requerido</mat-error>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Contraseña</mat-label>
    <input matInput type="password" formControlName="password" />
    <mat-error *ngIf="loginForm.controls['password'].invalid">Contraseña requerida</mat-error>
  </mat-form-field>

  <button mat-raised-button color="primary" type="submit" [disabled]="loginForm.invalid">Ingresar</button>
</form>

<div *ngIf="errorMessage" class="error-message">
  {{ errorMessage }}
</div>
